packaging_format = 2

id = "grafana"
name = "Grafana"
description.en = "Metric & analytic dashboards for monitoring"
description.fr = "Tableaux de bord de supervision"

version = "12.3.2~ynh2"

maintainers = ["JimboJoe","ewilly"]

[upstream]
license = "AGPL-3.0-only"
website = "https://grafana.com/"
demo = "https://play.grafana.org"
code = "https://github.com/grafana/grafana"

[integration]
yunohost = ">= 12.1.39"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = true
sso = true

disk = "2G"
ram.build = "200M"
ram.runtime = "200M"

[install]
	[install.domain]
	type = "domain"

	[install.path]
	type = "path"
	default = "/grafana"

	[install.init_main_permission]
	type = "group"
	default = "visitors"

[resources]
	[resources.sources]

		[resources.sources.main]
		url = "https://dl.grafana.com/grafana/release/12.3.2+security-01/grafana_12.3.2+security-01_21834523998_linux_amd64.tar.gz"
		sha256 = "a8afd3792af0f52f991702448f763789b86e47b12611d89333bf325a1c7934a3"
		format = "tar.gz"
		in_subdir = true
		extract = true
		rename = "grafana"

		# needs https://github.com/YunoHost/apps_tools/pull/50
		# autoupdate.strategy = "latest_webpage_link"
		# autoupdate.upstream = "https://grafana.com/grafana/download?edition=oss&pg=oss-graf&platform=linux"
		# autoupdate.version_regex = "^https:\\/\\/dl.grafana.com\\/grafana\\/release\\/(\\d+.\\d+.\\d+)\\/grafana_\\1_\\d+_linux_amd64.tar.gz"

		[resources.sources.arm64]
		url = "https://dl.grafana.com/grafana/release/12.3.2+security-01/grafana_12.3.2+security-01_21834523998_linux_arm64.tar.gz"
		sha256 = "581387736b47a842ad7ee92b8a2243be3dc902cbc15489428a2fe841c7468f87"
		format = "tar.gz"
		in_subdir = true
		extract = true
		rename = "grafana"

		# needs https://github.com/YunoHost/apps_tools/pull/50
		# autoupdate.strategy = "latest_webpage_link"
		# autoupdate.upstream = "https://grafana.com/grafana/download?edition=oss&pg=oss-graf&platform=arm"
		# autoupdate.version_regex = "^https:\\/\\/dl.grafana.com\\/grafana\\/release\\/(\\d+.\\d+.\\d+)\\/grafana_\\1_\\d+_linux_arm64.tar.gz"

	[resources.system_user]
	allow_email = true

	[resources.install_dir]

	[resources.data_dir]

	[resources.ports]
    main.default = 3000

	[resources.permissions]
	main.url = "/"

	[resources.apt]
	packages = "mariadb-server"

	[resources.database]
	type = "mysql"
