packaging_format = 2

id = "grafana"
name = "Grafana"
description.en = "Metric & analytic dashboards for monitoring"
description.fr = "Tableaux de bord de supervision"

version = "12.3.1~ynh1"

maintainers = ["JimboJoe","ewilly"]

[upstream]
license = "AGPL-3.0-only"
website = "https://grafana.com/"
demo = "https://play.grafana.org"
code = "https://github.com/grafana/grafana"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = true
sso = true

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
	[install.domain]
	type = "domain"

	[install.path]
	type = "path"
	default = "/grafana"

	[install.init_main_permission]
	type = "group"
	default = "visitors"

[resources]
	[resources.sources]

		[resources.sources.main]
		url = "https://dl.grafana.com/grafana/release/12.3.1/grafana_12.3.1_20271043721_linux_amd64.tar.gz"
		sha256 = "75d03b5ac2dc7b009625869355225d73e5b29866efbd999479bdd24429a695db"
		format = "tar.gz"
		in_subdir = true
		extract = true
		rename = "grafana"

		# needs https://github.com/YunoHost/apps_tools/pull/50
		# autoupdate.strategy = "latest_webpage_link"
		# autoupdate.upstream = "https://grafana.com/grafana/download?edition=oss&pg=oss-graf&platform=linux"
		# autoupdate.version_regex = "^https:\\/\\/dl.grafana.com\\/grafana\\/release\\/(\\d+.\\d+.\\d+)\\/grafana_\\1_\\d+_linux_amd64.tar.gz"

		[resources.sources.arm64]
		url = "https://dl.grafana.com/grafana/release/12.3.1/grafana_12.3.1_20271043721_linux_arm64.tar.gz"
		sha256 = "889cac6634a365dacbc712e1e49ea2233d40b9c958e61266f39949537ce63cdd"
		format = "tar.gz"
		in_subdir = true
		extract = true
		rename = "grafana"

		# needs https://github.com/YunoHost/apps_tools/pull/50
		# autoupdate.strategy = "latest_webpage_link"
		# autoupdate.upstream = "https://grafana.com/grafana/download?edition=oss&pg=oss-graf&platform=arm"
		# autoupdate.version_regex = "^https:\\/\\/dl.grafana.com\\/grafana\\/release\\/(\\d+.\\d+.\\d+)\\/grafana_\\1_\\d+_linux_arm64.tar.gz"

	[resources.system_user]
	allow_email = true

	[resources.install_dir]

	[resources.data_dir]

	[resources.ports]
    main.default = 3000

	[resources.permissions]
	main.url = "/"

	[resources.apt]
	packages = "mariadb-server"

	[resources.database]
	type = "mysql"
