test_format = 1.0

[default]

	# -------------------------------
	# Commits to test upgrade from
	# -------------------------------

	#test_upgrade_from.9e7c0e5e6a73bf53c452c7c90499c039c3fd76f5.name = "Upgrade from 10.2.3~ynh2"
